@model IEnumerable<TechTreeMVCWebApplication.Entities.Category>

<!--Hero Section-->
<div class="hero section">
    <img class="img-fluid" src="~/Images/HeroImage.jpeg" />
    <div class="hero-heading">
        <h2 class="hero-heading-text">Learn Software Engineering at <strong>TechTree</strong></h2>
        <a id="HeroRegisterButton" class="btn btn-outline-info btn-lg text-light hero-register-button">Register</a>
    </div>
</div>
