@model int

<a asp-action="Edit" asp-route-id="@Model" class="text-info mr-2"><i class="fa-solid fa-pen-to-square"></i></a>
<a asp-action="Details" asp-route-id="@Model" class="text-dark mr-2"><i class="fa-solid fa-table"></i></a> |
<a asp-action="Delete" asp-route-id="@Model" class="text-danger mr-2"><i class="fa-duotone fa-trash"></i></a> |